@font-face {
  font-family: "감탄로드돋움체 Regular";
  font-weight: normal;
  src: url("./src/fonts/감탄로드돋움체 Regular.ttf") format("truetype");
}

@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
input::placeholder,
label,
button,
textarea,
select {
  font-family: "SUIT-Regular";
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
